@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Questa &egrave; la mia prima pagina web!</h2>
</div>

Data e ora corrente: @DateTime.Now

@{
    Random r = new Random();
    int N = r.Next(1, 10);
    for (int i=1;i<=N;i++)
    {
        <p>Ciao!</p>
    }
    
}